:root{
    --colorBlanco: #ffffff;
    --colorFondoSearch: #edf3f8;
    --colorFondoIcono: #5f5f5f;
    --colorNegro: #000 ;
    --colorVerde: #5bdf69;
    --colorBarraAbajo: #222;
    --colorAzulConteo: #83aac9;
    --colorAzulFuerte: #045be6;
    --colorDorado: #ea9a02;
    --colorFondoContent: #f4f2ee;
    --colorTitulos: #a2a1a5;
    --colorIconosLeft: #2974b1;
    --colorPost: #2874b1;
    --colorFondoProfile: #222222;
    --seeProfile: #78b2f8;
}