@import url('header.css');
@import url('sidebar-left.css');
@import url('main.css');
@import url('sidebarRight.css');
@import url('perfil.css');


*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

.pagina{
    display: grid;
    grid-template-columns: 600px 1fr 600px;
    grid-template-rows: 90px 1fr;
    grid-template-areas: 
    'header header header'
    'sidebarLeft main sidebarRight';
    height: 100vh;
}

.content__layout{
    display: grid;
    
    grid-template-rows: auto;
    grid-template-columns: 1fr 680px;
    grid-template-areas: 
    'perfilContent perfilSidebar'
    'perfilFooter perfilFooter';
    gap: 20px;
    height: 100vh;
    margin-top: 122px;
    

}



    



