@import url('customProperties.css');

.main{
    grid-area: main;
    
}

.containerPost{
    margin: 20px auto;
    width: 90%;
    height: 120px;
    box-shadow: 0px 0px 5px var(--colorFondoIcono);
}

.write{
    padding-left: 30px;
    padding-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.write__perfil{
    
    
    
    width: 60px;
    object-fit: cover;
    height: 60px;
    border-radius: 50%;
    border: 3px solid var(--colorFondoSearch);
}

.write__texto{
    font-size: 18px;
    color: var(--colorFondoIcono);
    font-family: "Afacad Flux", sans-serif;
}

.optionPost{
    
    display: flex;
    align-items: center;
    
    
}

.optionPost__space{
    width: 1px;
    height: 40px;
    
    margin: 0px 50px ;
}

.optionPost__spaceContainer{
    width: 1px;
    height: 40px;
    margin-left: 50px;
}


.optionPost__icono{
    padding-left: 20px;
    color: var(--colorIconosLeft);
    padding-right: 5px;
    font-size: 20px;
    
}

.optionPost__texto{
    text-align: center;
    font-family: "Afacad Flux", sans-serif;
    
}

.optionPost__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 154px;
    height: 40px;
    background-color: var(--colorPost);
}

.optionPost__textoPost{
    color: var(--colorBlanco);
    font-family: "Afacad Flux", sans-serif;
}

.separador{
    margin-top: 20px;
    display: flex;
    align-items: center;

}

.separador__space{
    width: 80%;
    margin-right: 10px;
    color: var(--colorFondoIcono);
}

.separador__texto{
    font-family: "Afacad Flux", sans-serif;
}

.separador__top{
    font-family: "Afacad Flux", sans-serif;
    
}