@import url('customProperties.css');

.main{
    grid-area: main;
    
}

.containerPost{
    margin: 20px auto;
    width: 90%;
    height: 120px;
    box-shadow: 0px 0px 2px var(--colorFondoIcono);
}

.write{
    padding-left: 30px;
    padding-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.write__perfil{
    
    
    
    width: 60px;
    object-fit: cover;
    height: 60px;
    border-radius: 50%;
    border: 3px solid var(--colorFondoSearch);
}

.write__texto{
    font-size: 18px;
    color: var(--colorFondoIcono);
    font-family: "Afacad Flux", sans-serif;
}

.optionPost{
    
    display: flex;
    align-items: center;
    
    
}

.optionPost__space{
    width: 1px;
    height: 40px;
    
    margin: 0px 50px ;
}

.optionPost__spaceContainer{
    width: 1px;
    height: 40px;
    margin-left: 50px;
}


.optionPost__icono{
    padding-left: 20px;
    color: var(--colorIconosLeft);
    padding-right: 5px;
    font-size: 20px;
    
}

.optionPost__texto{
    text-align: center;
    font-family: "Afacad Flux", sans-serif;
    
}

.optionPost__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 154px;
    height: 40px;
    background-color: var(--colorPost);
}

.optionPost__textoPost{
    color: var(--colorBlanco);
    font-family: "Afacad Flux", sans-serif;
}

.separador{
    margin-top: 20px;
    display: flex;
    align-items: center;

}

.separador__space{
    width: 80%;
    margin-right: 10px;
    color: var(--colorFondoIcono);
}

.separador__texto{
    font-family: "Afacad Flux", sans-serif;
}

.separador__top{
    font-family: "Afacad Flux", sans-serif;
    
}

.personal{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 120px;
    width: 100%;
    
}

.publicacion{
    margin: 60px 40px;
    width: 640px ;
    height: 780px;
    box-shadow: 0px 0px 2px var(--colorFondoIcono);
}

.personal__fotoPerfil{
    width: 50px;
    object-fit: cover;
    height: 50px;
    border-radius: 50%;
    border: 3px solid var(--colorFondoSearch);
    margin-left: 10px;
    
}

.infopersonalPost__nombrePersona{
    font-family: "Afacad Flux", sans-serif;
}

.infopersonalPost__cargo{
    font-family: "Afacad Flux", sans-serif;
}

.infopersonalPost__hora{
    font-family: "Afacad Flux", sans-serif;
}

.publicacion__texto{
    padding: 15px;
    font-family: "Afacad Flux", sans-serif;
}

.publicacion__imagen{
    
    padding-left: 15px;
    width: 620px;
    height: 300px;
    object-fit: cover;
}

.stats{
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.likes{
    display: flex;
    gap: 5px;
    width: 300px;
    margin-top: 10px;
    
    font-family: "Afacad Flux", sans-serif;
    
}

.likes__iconos{
    
    width: 15px;
}

.comments{
    
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.comments__texto{
    font-family: "Afacad Flux", sans-serif;
}

.interactive{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 60px;
}


.optionsStats__imagen{
    width: 35px;
    object-fit: cover;
    height: 35px;
    border-radius: 50%;
    border: 3px solid var(--colorFondoSearch);
    margin-left: 10px;
}

.optionsStats__icono{
    color: var(--colorFondoIcono);
}

.optionsStats__buttons{
    width: 25px;
    height: 25px;
    
}

.optionsStats{
    display: flex;
    gap: 5px;
    align-items: center;
}

.optionsStats__titulos{
    font-family: "Afacad Flux", sans-serif;
}

